body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f3fa;
}

main {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 90px;
}

.tela {
  display: none;
}

.tela.ativa {
  display: block;
}

.menu-app {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #5e2b97;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-app button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menu-app button span {
  font-size: 11px;
}
.topo-app {
  background: linear-gradient(135deg, #5e2b97, #8e44ad);
  color: white;
  padding: 20px 10px 15px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo-app {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.titulo-app h1 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.titulo-app h2 {
  margin: 4px 0 0;
  font-size: 13px;
  font-weight: normal;
  opacity: 0.9;
}

